/*
* 基本变量
*/
// color
$baseColor: #ff8b02;
$baseColorHover: #ff9b02;
$baseFontColor: #606266;
$blue: #1d7ed2;
$darkblue: #165abb;
$green: #5fa207;
$red: #ff5b5b;
$gray: #a5a5a5;
$darkgray: #454545;
$white: #ffffff;



